/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.app-filter-select {
  width: 200px;
  padding-left: 40px;
}
