<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <div>pOTStats <small>2.0</small></div>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <mat-form-field>
          <mat-select #yearSelect (selectionChange)="setYear($event)" [(value)]="selectedYear" placeholder="Jahr">
            <mat-option>Alle</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-select #boardSelect (selectionChange)="setBoard($event)" [(value)]="selectedBoard" placeholder="Board">
            <mat-option>Alle</mat-option>
            <mat-option *ngFor="let board of boards | async" [value]="board.bid">{{ board.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <a mat-list-item routerLink="/userstats">User Statistiken</a>
      <a mat-list-item routerLink="/year-to-year-stats">Jahreswerte</a>
      <a mat-list-item routerLink="/weekday-stats">Wochentage</a>
      <a mat-list-item routerLink="/daily-stats">Tageswerte</a>
      <a mat-list-item routerLink="/board-stats">Foren</a>
    </mat-nav-list>

    <div id='imprint-and-shit'>
      <a routerLink="/imprint">Impressum</a> ·
      <a routerLink="/privacy">Datenschutzerklärung</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div>
        <small>Ein pOTsches Informationsportal</small>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
