<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-form-field>
      <mat-select #yearSelect (selectionChange)="setYear($event)" [(value)]="selectedYear" placeholder="Jahr">
        <mat-option>Alle</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list>

      <a mat-list-item routerLink="/userstats">User Statistiken</a>
      <a mat-list-item routerLink="/year-to-year-stats">Jahreswerte</a>
      <a mat-list-item routerLink="/weekday-stats">Tageswerte</a>
      <a mat-list-item routerLink="/impress">Impressum</a>
      <a mat-list-item routerLink="/privacy">Datenschutzerklärung</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
