<div class="container" fxLayout="column" fxLayoutWrap>
  <app-app-bar-graph
    [selectableStats]="selectableStats"
    xLabel="Jahr"
    xValue="year"
    [dataSource]="dataSource.connect()">
  </app-app-bar-graph>
  <mat-card fxFlex="20%">
    <mat-card-header>Tabellarisch</mat-card-header>
    <mat-card-content>
     <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef>Jahr</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
        </ng-container>
       <ng-container *ngFor="let col of selectableStats" [matColumnDef]="col.value">
         <mat-header-cell *matHeaderCellDef>{{col.label}}</mat-header-cell>
         <mat-cell *matCellDef="let row">{{row[col.value]}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
