<div class="container" fxLayout="column" fxLayoutWrap>
  <mat-form-field fxFlex="10%">
    <mat-select [(value)]="selectedStats">
      <mat-option *ngFor="let statOption of selectableStats" [value]="statOption">{{statOption.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="graphs" fxFlex="70%">
    <ngx-charts-bar-vertical
      [results]="chartData | async"
      xAxis="true"
      yAxis="true"
      showXAxisLabel="true"
      showYAxisLabel="true"
      xAxisLabel="Jahr"
      [yAxisLabel]="yLabel">
    </ngx-charts-bar-vertical>
    </div>
  <mat-card fxFlex="20%">
    <mat-card-header>Tabellarisch</mat-card-header>
    <mat-card-content>
     <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef>Jahr</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="active_users">
          <mat-header-cell *matHeaderCellDef>Aktive User</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.active_users}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="post_count">
          <mat-header-cell *matHeaderCellDef>Posts</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.post_count}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit_count">
          <mat-header-cell *matHeaderCellDef>Edits</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.edit_count}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="avg_post_length">
          <mat-header-cell *matHeaderCellDef>Durchschnittliche Postlänge</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.avg_post_length}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="threads_created">
          <mat-header-cell *matHeaderCellDef>Threads erstellt</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.threads_created}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
