<div class="container" fxLayout="column" fxLayoutWrap>
  <mat-form-field fxFlex="10%">
    <mat-select [(value)]="selectedStats">
      <mat-option *ngFor="let statOption of selectableStats" [value]="statOption">{{statOption.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="70%" fxFlexFill>
    <ngx-charts-bar-vertical
      [view]="[800, 500]"
      [results]="chartData | async"
      xAxis="true"
      yAxis="true"
      showXAxisLabel="true"
      showYAxisLabel="false"
      xAxisLabel="Jahr">
    </ngx-charts-bar-vertical>
    </div>
  <mat-card fxFlex="20%">
    <mat-card-header>Tabellarisch</mat-card-header>
    <mat-card-content>
     <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef>Jahr</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
        </ng-container>
       <ng-container *ngFor="let col of selectableStats" [matColumnDef]="col.value">
         <mat-header-cell *matHeaderCellDef>{{col.label}}</mat-header-cell>
         <mat-cell *matCellDef="let row">{{row[col.value]}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
